/* Whole Page */
body {
    font-family: Helvetica, sans-serif;
    background-color: #EBDECD;
    color: #050505;
    margin: 0;
}

/* Header image */
header img {
    with: 100%;
    height: 100vh;
    object-fit: scover;
    display: block;
    margin: 0 auto;
}

/* Headings */
h1, h2, h3, p {
    text-align: center;
}

h2, h2, h3, p {
    color: #050505;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

/* Cards */
.card {
    background-color: #D9C7B0;
    padding: 12px;
    margin: 12px auto;
    max-width: 640px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.card2 {
    background-color: #6d6760;
    padding: 12px;
    margin: 12px auto;
    max-width: 640px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    border-top: 1px solid #050505;
    background-color: #D9C7B0;
    color: black;
    text-align: end;
    padding: 12px;
}