/* Whole Page */
body {
    font-family: Helvetica, sans-serif;
    background-color: #EBDECD;
    color: #050505
    margin: 0;
}

/* Header image */
header img {
    with: 100%;
    height: 240px;
    object-fit: fill;
    align-items: center;
}

/* Headings */
h1 {
    color: #050505;
}

h2 {
    color: #050505;
}

p {
    text-align: center;
}

/* Footer */
footer {
    background-color: #EBDECD;
    color: black;
    text-align: end;
    padding: 12px;
}